* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 1.125rem;
}

a {
    color: grey;
}

a:link {
    // color:rgb(36, 35, 35);
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
